/* Estilos generales */
body {
    background-color: #F2F2F2; /* Un tono de rojo más suave */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Cambio de color de texto predeterminado a oscuro para mejorar legibilidad */
}

.header {
    background-color: #cf1e1e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex; /* Usar un contenedor flex para alinear elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
}

.header__content {
    max-width: 100%;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 100%; /* La imagen se ajustará al ancho del contenedor del encabezado */
    height: auto; /* Mantener la proporción original de la imagen */
    margin-right: 20px; /* Espacio entre el logotipo y el título */
}

.nav__list {
    list-style: none;
    padding: 0;
    text-align: right; /* Alinea el texto de la lista a la derecha */
    margin-left: auto; /* Mueve los elementos de la lista hacia la derecha */
}

.nav__item {
    display: inline;
    margin: 0 10px;
}

.nav__link {
    text-decoration: none;
    color: #fff;
}

.main-container {
    padding: 20px;
}

/* Estilos para la sección de bienvenida */
.welcome {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.welcome__title {
    font-size: 24px;
    margin: 0;
    color: #cf1e1e;
}

.welcome__text {
    font-size: 18px;
    color: #333;
}

/* Estilos para la sección de búsqueda rápida */
.quick-search {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section__title {
    font-size: 24px;
    margin: 0;
    color: #cf1e1e;
}

#quick-search {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    background-color: #cf1e1e;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #ff5252;
}

/* Estilos para la sección de documentos recientes */
.recent-documents {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.document-list {
    list-style: none;
    padding: 0;
}

.document-list li {
    margin: 10px 0;
    font-size: 18px;
}

.mission-vision {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mission-vision__text {
    font-size: 16px;
    color: #333;
}
