/* Estilos para el cuerpo de la página */
body {
    background-image: url('Fondo-de-pantalla-Soy-Uleam1-1024x577.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para el contenedor principal */
.container {
    width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(253, 1, 1);
    margin-top: 120%; /* Ajusta el margen superior para centrar el contenedor en la mitad de la página */
    transform: translateY(-50%); /* Centra verticalmente */
}

/* Estilos para grupos de formulario */
.form-group {
    text-align: left;
    margin: 15px 0;
    width: 90%;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.form-group button:hover {
    background-color: #0056b3;
}

/* Estilos para el enlace "Crear cuenta" */
.create-account {
    margin-top: 10px;
    font-size: 16px;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
}
